body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header > .links {
    display: flex;
    gap: 16px;
    list-style-type: none;
}